.page_content
    .container
        ul.breadcrumb
            li
                a(href="#") Главная
            li
                a(href="#") #{page.title}
        .content
            h1.contacts_title #{page.title}


            include ../kp