section.first_screen
    .container
        .first_screen_container(style="background-image:url("+dir+"main_image_forest.jpg)")
            .first_screen_content
                h1 Больше, чем просто лес
                .sub_title Производитель пиломатериалов LES-INVEST: мы выходим на новый уровень
                a.btn_primary(href="#") Наша продукция



-var serv=['Заготавливаем','Вывозим','Распиливаем','Перерабатываем'];
-var serv_desc=['Применяем в работе скандинавский способ заготовки леса. В его основе — полная автоматизация всех процессов. Заготовка сырья производится экологически безвредным сортиментным методом. На всех участках работает мощная лесозаготовительная техника. Использование современных машин позволяет повысить эффективность, снизить себестоимость производственных процессов, а также сделать работу операторов и водителей безопасной и комфортной.','Автотранспортное подразделение — часть единой технологической цепочки в заготовке древесины. Приоритет в работе — полностью исключить потерю времени и простой техники на всех этапах. Минимальная трелёвка леса, хорошо спланированные погрузочные площадки, современный терминал сортировки и отгрузки, а также замотивированный на быструю и качественную работу персонал позволяют всем процессам происходить быстро и слаженно.','У нас  современные лесопильные и деревообрабатывающие производства, размещенные на территории Республики Коми на производственных площадках, общая площадь которых составляет около 10 гектаров. Наш комплекс лесопиления и деревообработки осуществляет распилку и переработку круглых лесоматериалов поступающих от собственных лесозаготовительных подразделений.','Мы вышли на ежегодные объемы стопроцентной переработки древесины в 120 тыс. м3, заготавливаемой в Республике Коми. Наша основная миссия: от заготовки леса до готовой продукции — стопроцентная переработка леса и нулевая утилизация продукции на полигоны ТБО. ']
section.main_services
    .container
        .main_services_title Что делаем?

        .main_services_list
            for ms_item , index in serv
                -var count=index+1
                .item
                    .main_services_item(style="background-image:url("+dir+"serv/"+count+".jpg)")
                        .main_services_title=ms_item
                        .main_services_desc=serv_desc[index]
                        span.serv_btn

