<!DOCTYPE html>
html
    head
        - var page = { title: 'Связаться с нами' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/contact_with_us/content
        include inc/footer
        include inc/scripts.pug