<!DOCTYPE html>
html
    head
        - var page = { title: 'Производство' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/production/content
        include inc/footer
        include inc/scripts.pug